<div style="padding: 1rem">
  <div>

    <ngx-table-tag />
    <ngx-table-tag [active]="true" />

    <ngx-table-button [type]="ButtonTypeEnum.update" />

    <ngx-table-button [type]="ButtonTypeEnum.delete" />
  </div>
  <div style="padding: 1rem">
    <label>
      Claro
      <input type="radio" name="theme" value="light" (click)="setCurrentTheme(treeThemeEnum.light)">
    </label>
    <label>
      Oscuro
      <input type="radio" name="theme" value="dark" checked (click)="setCurrentTheme(treeThemeEnum.dark)">
    </label>
  </div>

  <ngx-table-nested *ngIf="spellMockData"
                    [theme]="currentTheme"
                    [dataTable]="spellMockData"
                    [columns]="parentColumns"
                    [childrenKey]="'ingredients'"
                    [childrenColumns]="childrenColumns"
                    [actionConfig]="config"
                    [childrenActionConfig]="childrenConfig"
  />

</div>
