<div style="padding: 1rem">
  <div style="padding: 1rem">
    <label>
      Claro
      <input type="radio" name="theme" value="light" (click)="setCurrentTheme(treeThemeEnum.light)">
    </label>
    <label>
      Oscuro
      <input type="radio" name="theme" value="dark" checked (click)="setCurrentTheme(treeThemeEnum.dark)">
    </label>
  </div>

  <ngx-table-nested *ngIf="spellMockData"
                    [theme]="currentTheme"
                    [dataTable]="{
                      data: spellMockData,
                      columns: parentColumns,
                      children: {
                        columns: childrenColumns,
                        field: 'ingredients',
                        extra: {
                          actions: {
                            data: childrenConfig,
                            header: 'Acciones'
                          },
                          messages: {
                            empty: 'No hay datos para mostrar.',
                            error: ''
                          }
                        },
                      },
                      extra: {
                        actions: {
                          data: config,
                          header: 'Acciones'
                        },
                        messages: {
                          empty: 'No hay datos para mostrar padre.',
                          error: ''
                        }
                      }
                    }"
                    (onRowClick)="clickEdit($event)"
  />

  <ngx-table-basic *ngIf="spellMockData"
                   [theme]="currentTheme"
                   [dataTable]="{
                      data: spellMockData,
                      columns: parentColumns,
                      extra: {
                        actions: {
                          data: config,
                          header: 'Acciones'
                        }
                      }
                    }"
  />
</div>
